@font-face {
    font-family: "CloisterBlack";
    src: url("fonts/CloisterBlack.ttf") format("truetype");
}

@font-face {
    font-family: "Olde Stencil";
    src: url("fonts/Olde\ Stencil.ttf") format("truetype");
}

@font-face {
    font-family: "Ancient Medium";
    src: url("fonts/Ancient\ Medium.ttf") format("truetype");
}

body {
    font-family: "Arial", sans-serif;
    background: #000000;
    color: #ffffff;
    margin: 0;
    z-index: 1;
}

.container {
    text-align: center;
}

.main-title {
    font-family: "CloisterBlack";
    font-size: 10vh;
}

.vote-page-button {
    font-family: "Olde Stencil";
    font-size: 4vh;
    color: #ff0000;
    text-shadow: 0px 6px 6px #ff0000;
    text-decoration: none;
    transition: ease 0.1s;
}

.vote-page-button:hover {
    transform: scale(1.5);
}

.scoreboard {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

form {
    width: fit-content;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 2% 1%;
}

.row:nth-of-type(odd) {
    background-color: #808080;
}

.row:nth-of-type(even) {
    background-color: #505050;
}

.row-voting {
    display: flex;
    justify-content: space-between;
    transition: ease 0.1s;
    padding: 2% 1%;
}

.row-voting:nth-of-type(odd) {
    background-color: #808080;
}

.row-voting:nth-of-type(even) {
    background-color: #505050;
}

.row-voting:hover {
    transform: scale(1.1);
}

.avatar {
    height: 50px;
}

.fire {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    object-fit: cover;
    object-position: bottom;
    z-index: -1;
    pointer-events: none;
}
