{% extends "base.html" %} {% block title %}VOTE{% endblock %} {% block content
%}

<h2>voting as {{ current_user.username }}</h2>

<form hx-post="/vote" hx-target="#scoreboard" hx-swap="innerHTML">
    <br />

    <select name="target">
        {% for user in options %}
        <option value="{{ user.id }}">{{ user.username }}</option>
        {% endfor %}
    </select>

    <select name="value">
        <option value="1">+</option>
        <option value="-1">-</option>
    </select>

    <input type="text" name="reason" />

    <button type="submit">vote</button>
</form>
<br />
<hr />
<div id="scoreboard">{{ scoreboard | safe }}</div>

{% endblock %}
