{% extends "base.html" %} {% block title %}VOTE{% endblock %} {% block content
%}

<h2 style="font-size: 3vh; padding-top: 5%;">voting as</h2>
<h2 style="font-family: 'Ancient Medium'; font-size: 4vh;">{{ current_user.username }}</h1>

<form hx-post="/vote" hx-target="#scoreboard" hx-swap="innerHTML">
    <br />

    <!--
    <select name="target">
        {% for user in options %}
        <option value="{{ user.id }}">{{ user.username }}</option>
        {% endfor %}
    </select>

    <select name="value">
        <option value="1">+</option>
        <option value="-1">-</option>
    </select>

    <input type="text" name="reason" />

    <button type="submit">vote</button>
    -->
</form>
<br />
<hr />
<div id="scoreboard">{{ scoreboard | safe }}</div>
<hr />

<a href="/"><p style="font-size: 2vh">back to index</p> </a>

{% endblock %}
